[Desktop Entry]
Name=Orchis
X-KDE-PluginInfo-Name=Orchis
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPLv3
